* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.arrowBtn {
  background-color: rgba(0,0,0,0);
  border-width: 0;
  font-size: 1.4em;
  transition: .1s;
  border-radius: 100%;
}

.arrowBtn:hover {
  transform: scale(1.1,1.1)
}

.arrowBtn:focus {
  outline: none;
  box-shadow: 0 0 2pt 3pt rgb(71, 195, 236);
}


textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px;
    box-shadow: none !important;
}

button:focus {
  outline: 0px;
  box-shadow: 0 0 1.5pt 2pt rgb(43, 179, 224);
  z-index: 1;
}

.past:focus{
  outline: 0px;
  box-shadow: 0 0 2pt 2pt rgb(0, 0, 0);
  z-index: 1;
}

.present:focus {
  outline: 0px;
  box-shadow: 0 0 3pt 2pt rgb(95, 0, 0);
  z-index: 1;
}

.future:focus {
  outline: 0px;
  box-shadow: 0 0 3pt 2pt rgb(0, 112, 0);
  z-index: 1;
}

.border-dotted {
  border-style: dashed !important;
  border-width: 2px;
  border-color: black !important;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.hour {
  display: table-cell !important;
  vertical-align: middle !important;
}

.past{
  color: rgb(59, 59, 59);
  background-color: lightgray;
}

.present {
  color: rgb(78, 33, 33);
  background-color: lightcoral;
}

.present::placeholder {
  color: rgb(255, 181, 181);
}

.future {
  color: rgb(28, 77, 28);
  background-color: rgb(123, 235, 123);
}

.future::placeholder {
  color: #ceffce;
}

.saveBtn {
  background: lightblue;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: .5px;
  border-bottom-width: .5px;
  border-color: rgb(155, 208, 226);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: .15s;
}

.fa-save {
  color: rgb(79, 163, 190);
}

.saveBtn:hover {
  font-size: 1.3em;
}